# Build directories
build/
**/build/
**/build-asan/
**/build-valgrind/
**/build-msvc/

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Python artifacts
__pycache__/
*.py[cod]
*.so

# IDE
.vscode/
